@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-source-info a {
  text-decoration: underline;
}

.data-source-info ol {
  list-style: decimal;
  list-style-position: outside;
}

.data-source-info ul {
  list-style: disc;
  list-style-position: outside;
}

.data-source-info p, .data-source-info li {
  margin-block-end: 1em;
}

.data-source-info li {
  margin-left: 1em
}

.data-source-info img {
  margin-bottom: 1em;
}

.allowance-content strong, .requirement-content strong {
  font-weight: 600;
  color: #00171F;
}

.allowance-content a {
  color: #2364AA;
  text-decoration: underline
}

.allowance-content p, .requirement-content p {
  color: #494949;
  font-size: 1rem;
}