@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans';
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.savings-description {
  width: 100%;
}

.savings-more-info-section {
  width: 100%;
}

.savings-more-info-section p {
  padding: .5rem 0;
}